In [100]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import linregress
import csv
import os
from pathlib import Path

In [102]:
coffee_qlty_df = pd.read_csv("Coffee_qlty.csv")
coffee_statistics_df = pd.read_csv("Stats_coffee.csv")
population_df = pd.read_csv("Population.csv")
coffee_qlty_df.head(20)

,Country.of.Origin,AVG_Aroma,AVG_Flavor,AVG_Aftertaste,AVG_Acidity,AVG_Body,AVG_Balance,AVG_Uniformity,AVG_Clean.Cup,AVG_Sweetness,AVG_Moisture,AVG_Quakers,AVG_Category.One.Defects,AVG_Category.Two.Defects,Rec_Cnt
0,Brazil,7.553106,7.573561,7.440530,7.511439,7.544545,7.531515,9.884924,9.853485,9.949394,0.082348,0.446970,0.128788,3.598485,132
1,Burundi,7.415000,7.460000,7.250000,7.415000,7.290000,7.415000,10.000000,10.000000,10.000000,0.060000,0.000000,0.000000,2.500000,2
2,China,7.641250,7.625625,7.484375,7.578125,7.573750,7.548125,9.958125,9.958125,9.916250,0.094375,0.500000,0.000000,4.000000,16
3,Colombia,7.653060,7.597104,7.524699,7.560000,7.609508,7.708415,9.934426,9.945355,9.952678,0.062022,0.207650,0.377049,1.939891,183
4,Costa Rica,7.671373,7.537255,7.534510,7.573922,7.537451,7.637255,9.856275,9.869216,9.908431,0.083333,0.117647,0.352941,2.823529,51
5,Cote dIvoire,7.420000,7.250000,6.830000,7.000000,7.330000,7.080000,9.330000,10.000000,10.000000,0.130000,0.000000,1.000000,2.000000,1
6,Ecuador,7.583333,7.640000,7.553333,7.693333,6.026667,6.970000,10.000000,10.000000,8.723333,0.030000,0.000000,0.000000,0.333333,3
7,El Salvador,7.674762,7.654286,7.567143,7.590476,7.606667,7.711429,9.936190,9.936190,9.808571,0.045714,0.095238,0.142857,3.571429,21
8,Ethiopia,7.896364,8.009091,7.893864,8.043636,7.924091,7.972273,9.878409,9.954318,9.863409,0.082955,0.363636,0.250000,5.159091,44
9,Guatemala,7.544862,7.489006,7.266851,7.596409,7.475746,7.469890,9.852486,9.889337,9.870884,0.102265,0.276243,0.187845,3.419890,181
10,Haiti,7.153333,6.998333,7.111667,7.126667,7.276667,7.056667,9.776667,8.555000,9.111667,0.110000,0.000000,1.500000,3.500000,6
11,Honduras,7.292453,7.234151,7.061509,7.233585,7.239245,7.163962,9.647736,9.635283,9.660377,0.107736,0.188679,0.056604,3.566038,53
12,India,7.697857,7.618571,7.566429,7.636429,7.661429,7.672857,9.904286,9.952143,7.619286,0.037857,0.500000,1.428571,0.357143,14
13,Indonesia,7.649000,7.573000,7.415500,7.491000,7.631500,7.520000,9.933000,9.966500,9.966500,0.098500,0.050000,0.300000,4.200000,20
14,Japan,7.750000,7.750000,7.750000,7.420000,8.080000,7.830000,10.000000,10.000000,10.000000,0.120000,0.000000,0.000000,0.000000,1
15,Kenya,7.786800,7.782400,7.713200,7.866000,7.726400,7.800400,9.973200,9.973200,9.973200,0.080000,0.240000,0.040000,2.520000,25
16,Laos,7.503333,7.500000,7.280000,7.306667,7.363333,7.416667,10.000000,10.000000,10.000000,0.083333,0.000000,0.000000,0.000000,3
17,Malawi,7.567273,7.387273,7.257273,7.408182,7.338182,7.371818,10.000000,10.000000,10.000000,0.124545,0.000000,0.000000,1.363636,11
18,Mauritius,7.250000,7.250000,7.170000,7.170000,7.250000,7.170000,10.000000,10.000000,10.000000,0.120000,0.000000,0.000000,0.000000,1
19,Mexico,7.457585,7.379025,7.228051,7.428347,7.380466,7.328686,9.744068,9.658136,9.971780,0.113602,0.038136,0.843220,6.779661,236

In [41]:
coffee_qlty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country.of.Origin         34 non-null     object
 1   AVG_Aroma                 34 non-null     float64
 2   AVG_Flavor                34 non-null     float64
 3   AVG_Aftertaste            34 non-null     float64
 4   AVG_Acidity               34 non-null     float64
 5   AVG_Body                  34 non-null     float64
 6   AVG_Balance               34 non-null     float64
 7   AVG_Uniformity            34 non-null     float64
 8   AVG_Clean.Cup             34 non-null     float64
 9   AVG_Sweetness             34 non-null     float64
 10  AVG_Moisture              34 non-null     float64
 11  AVG_Quakers               34 non-null     float64
 12  AVG_Category.One.Defects  34 non-null     float64
 13  AVG_Category.Two.Defects  34 non-null     float64
 14  Rec_Cnt                   34 non-null     int64
dtypes: float64(13), int64(1), object(1)
memory usage: 4.1+ KB

In [43]:
coffee_qlty_df.columns

Index(['Country.of.Origin', 'AVG_Aroma', 'AVG_Flavor', 'AVG_Aftertaste',
       'AVG_Acidity', 'AVG_Body', 'AVG_Balance', 'AVG_Uniformity',
       'AVG_Clean.Cup', 'AVG_Sweetness', 'AVG_Moisture', 'AVG_Quakers',
       'AVG_Category.One.Defects', 'AVG_Category.Two.Defects', 'Rec_Cnt'],
      dtype='object')

In [110]:
# Renaming
qlty_renamed_df = coffee_qlty_df.rename(columns = {'Country.of.Origin' : 'Country of origin', 'AVG_Aroma': 'Aroma score'})
qlty_renamed_df.head()

,Country of origin,Aroma score,AVG_Flavor,AVG_Aftertaste,AVG_Acidity,AVG_Body,AVG_Balance,AVG_Uniformity,AVG_Clean.Cup,AVG_Sweetness,AVG_Moisture,AVG_Quakers,AVG_Category.One.Defects,AVG_Category.Two.Defects,Rec_Cnt
0,Brazil,7.553106,7.573561,7.440530,7.511439,7.544545,7.531515,9.884924,9.853485,9.949394,0.082348,0.446970,0.128788,3.598485,132
1,Burundi,7.415000,7.460000,7.250000,7.415000,7.290000,7.415000,10.000000,10.000000,10.000000,0.060000,0.000000,0.000000,2.500000,2
2,China,7.641250,7.625625,7.484375,7.578125,7.573750,7.548125,9.958125,9.958125,9.916250,0.094375,0.500000,0.000000,4.000000,16
3,Colombia,7.653060,7.597104,7.524699,7.560000,7.609508,7.708415,9.934426,9.945355,9.952678,0.062022,0.207650,0.377049,1.939891,183
4,Costa Rica,7.671373,7.537255,7.534510,7.573922,7.537451,7.637255,9.856275,9.869216,9.908431,0.083333,0.117647,0.352941,2.823529,51

In [112]:
# Dropping unnessaccary columns (Last 3 columns)
qlty_dropped_df = qlty_renamed_df[['Country of origin', 'Aroma score', 'AVG_Flavor', 'AVG_Aftertaste',
       'AVG_Acidity', 'AVG_Body', 'AVG_Balance', 'AVG_Sweetness', 'AVG_Moisture']]
qlty_dropped_df.head()

,Country of origin,Aroma score,AVG_Flavor,AVG_Aftertaste,AVG_Acidity,AVG_Body,AVG_Balance,AVG_Sweetness,AVG_Moisture
0,Brazil,7.553106,7.573561,7.440530,7.511439,7.544545,7.531515,9.949394,0.082348
1,Burundi,7.415000,7.460000,7.250000,7.415000,7.290000,7.415000,10.000000,0.060000
2,China,7.641250,7.625625,7.484375,7.578125,7.573750,7.548125,9.916250,0.094375
3,Colombia,7.653060,7.597104,7.524699,7.560000,7.609508,7.708415,9.952678,0.062022
4,Costa Rica,7.671373,7.537255,7.534510,7.573922,7.537451,7.637255,9.908431,0.083333

### Cleaning up coffee_statistics_df

In [8]:
coffee_statistics_df.head()

,Country,Year,Arabica Production,Bean Exports,Bean Imports,Beginning Stocks,Domestic Consumption,Ending Stocks,Exports,Imports,...,Production,Roast & Ground Exports,Roast & Ground Imports,Robusta Production,"Rst,Ground Dom. Consum",Soluble Dom. Cons.,Soluble Exports,Soluble Imports,Total Distribution,Total Supply
0,Albania,1960,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,1961,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Albania,1962,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Albania,1963,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Albania,1964,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
coffee_statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6016 entries, 0 to 6015
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 6016 non-null   object
 1   Year                    6016 non-null   int64
 2   Arabica Production      6016 non-null   int64
 3   Bean Exports            6016 non-null   int64
 4   Bean Imports            6016 non-null   int64
 5   Beginning Stocks        6016 non-null   int64
 6   Domestic Consumption    6016 non-null   int64
 7   Ending Stocks           6016 non-null   int64
 8   Exports                 6016 non-null   int64
 9   Imports                 6016 non-null   int64
 10  Other Production        6016 non-null   int64
 11  Production              6016 non-null   int64
 12  Roast & Ground Exports  6016 non-null   int64
 13  Roast & Ground Imports  6016 non-null   int64
 14  Robusta Production      6016 non-null   int64
 15  Rst,Ground Dom. Consum  6016 non-null   int64
 16  Soluble Dom. Cons.      6016 non-null   int64
 17  Soluble Exports         6016 non-null   int64
 18  Soluble Imports         6016 non-null   int64
 19  Total Distribution      6016 non-null   int64
 20  Total Supply            6016 non-null   int64
dtypes: int64(20), object(1)
memory usage: 987.1+ KB

In [62]:
stats_filtered_df = coffee_statistics_df[coffee_statistics_df['Year'].isin([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])]
stats_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1034 entries, 53 to 6015
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 1034 non-null   object
 1   Year                    1034 non-null   int64
 2   Arabica Production      1034 non-null   int64
 3   Bean Exports            1034 non-null   int64
 4   Bean Imports            1034 non-null   int64
 5   Beginning Stocks        1034 non-null   int64
 6   Domestic Consumption    1034 non-null   int64
 7   Ending Stocks           1034 non-null   int64
 8   Exports                 1034 non-null   int64
 9   Imports                 1034 non-null   int64
 10  Other Production        1034 non-null   int64
 11  Production              1034 non-null   int64
 12  Roast & Ground Exports  1034 non-null   int64
 13  Roast & Ground Imports  1034 non-null   int64
 14  Robusta Production      1034 non-null   int64
 15  Rst,Ground Dom. Consum  1034 non-null   int64
 16  Soluble Dom. Cons.      1034 non-null   int64
 17  Soluble Exports         1034 non-null   int64
 18  Soluble Imports         1034 non-null   int64
 19  Total Distribution      1034 non-null   int64
 20  Total Supply            1034 non-null   int64
dtypes: int64(20), object(1)
memory usage: 177.7+ KB

In [68]:
stats_filtered_df.head(50)

,Country,Year,Arabica Production,Bean Exports,Bean Imports,Beginning Stocks,Domestic Consumption,Ending Stocks,Exports,Imports,...,Production,Roast & Ground Exports,Roast & Ground Imports,Robusta Production,"Rst,Ground Dom. Consum",Soluble Dom. Cons.,Soluble Exports,Soluble Imports,Total Distribution,Total Supply
53,Albania,2013,0,0,90,0,90,0,0,90,...,0,0,0,0,90,0,0,0,90,90
54,Albania,2014,0,0,100,0,100,0,0,100,...,0,0,0,0,100,0,0,0,100,100
55,Albania,2015,0,0,100,0,100,0,0,100,...,0,0,0,0,100,0,0,0,100,100
56,Albania,2016,0,0,105,0,105,0,0,105,...,0,0,0,0,105,0,0,0,105,105
57,Albania,2017,0,0,105,0,105,0,0,105,...,0,0,0,0,105,0,0,0,105,105
58,Albania,2018,0,0,100,0,100,0,0,100,...,0,0,0,0,100,0,0,0,100,100
59,Albania,2019,0,0,90,0,90,0,0,90,...,0,0,0,0,90,0,0,0,90,90
60,Albania,2020,0,0,100,0,100,0,0,100,...,0,0,0,0,100,0,0,0,100,100
61,Albania,2021,0,0,85,0,85,0,0,85,...,0,0,0,0,85,0,0,0,85,85
62,Albania,2022,0,0,70,0,70,0,0,70,...,0,0,0,0,70,0,0,0,70,70
63,Albania,2023,0,0,60,0,60,0,0,60,...,0,0,0,0,60,0,0,0,60,60
117,Algeria,2013,0,0,2265,0,2300,0,0,2300,...,0,0,0,0,2275,25,0,35,2300,2300
118,Algeria,2014,0,0,2165,0,2195,0,0,2195,...,0,0,0,0,2165,30,0,30,2195,2195
119,Algeria,2015,0,0,2275,0,2320,0,0,2320,...,0,0,0,0,2275,45,0,45,2320,2320
120,Algeria,2016,0,0,2165,0,2205,0,0,2205,...,0,0,0,0,2165,40,0,40,2205,2205
121,Algeria,2017,0,0,2270,0,2300,0,0,2300,...,0,0,0,0,2270,30,0,30,2300,2300
122,Algeria,2018,0,0,2300,0,2340,0,0,2340,...,0,0,0,0,2300,40,0,40,2340,2340
123,Algeria,2019,0,0,2000,0,2040,0,0,2040,...,0,0,0,0,2000,40,0,40,2040,2040
124,Algeria,2020,0,0,2200,0,2240,0,0,2240,...,0,0,0,0,2200,40,0,40,2240,2240
125,Algeria,2021,0,0,2050,0,2090,0,0,2090,...,0,0,0,0,2050,40,0,40,2090,2090
126,Algeria,2022,0,0,2000,0,2050,0,0,2050,...,0,0,0,0,2000,50,0,50,2050,2050
127,Algeria,2023,0,0,1900,0,1950,0,0,1950,...,0,0,0,0,1900,50,0,50,1950,1950
181,Angola,2013,0,5,0,1,27,0,5,0,...,31,0,0,31,27,0,0,0,32,32
182,Angola,2014,0,6,0,0,24,0,6,0,...,30,0,0,30,24,0,0,0,30,30
183,Angola,2015,0,12,0,0,13,0,12,0,...,25,0,0,25,13,0,0,0,25,25
184,Angola,2016,0,6,0,0,14,0,6,0,...,20,0,0,20,14,0,0,0,20,20
185,Angola,2017,0,6,0,0,13,0,6,0,...,19,0,0,19,13,0,0,0,19,19
186,Angola,2018,0,8,0,0,12,0,8,0,...,20,0,0,20,12,0,0,0,20,20
187,Angola,2019,0,22,0,0,10,0,22,0,...,32,0,0,32,10,0,0,0,32,32
188,Angola,2020,0,16,0,0,14,0,16,0,...,30,0,0,30,14,0,0,0,30,30
189,Angola,2021,0,18,0,0,12,0,18,0,...,30,0,0,30,12,0,0,0,30,30
190,Angola,2022,0,10,0,0,10,0,10,0,...,20,0,0,20,10,0,0,0,20,20
191,Angola,2023,0,15,0,0,10,0,15,0,...,25,0,0,25,10,0,0,0,25,25
245,Argentina,2013,0,0,415,0,685,0,0,685,...,0,0,10,0,430,255,0,260,685,685
246,Argentina,2014,0,0,450,0,710,0,0,710,...,0,0,10,0,460,250,0,250,710,710
247,Argentina,2015,0,0,460,0,741,0,0,741,...,0,0,16,0,476,265,0,265,741,741
248,Argentina,2016,0,0,490,0,754,0,0,754,...,0,0,19,0,509,245,0,245,754,754
249,Argentina,2017,0,0,450,0,775,0,0,775,...,0,0,25,0,475,300,0,300,775,775
250,Argentina,2018,0,0,450,0,735,0,0,735,...,0,0,25,0,475,260,0,260,735,735
251,Argentina,2019,0,0,525,0,859,0,0,859,...,0,0,24,0,549,310,0,310,859,859
252,Argentina,2020,0,0,410,0,789,0,0,789,...,0,0,29,0,439,350,0,350,789,789
253,Argentina,2021,0,0,505,0,906,0,0,906,...,0,0,41,0,546,360,0,360,906,906
254,Argentina,2022,0,0,580,0,1019,0,0,1019,...,0,0,39,0,619,400,0,400,1019,1019
255,Argentina,2023,0,0,600,0,1040,0,0,1040,...,0,0,40,0,640,400,0,400,1040,1040
309,Armenia,2013,0,0,200,0,200,0,0,200,...,0,0,0,0,200,0,0,0,200,200
310,Armenia,2014,0,0,180,0,180,0,0,180,...,0,0,0,0,180,0,0,0,180,180
311,Armenia,2015,0,0,190,0,190,0,0,190,...,0,0,0,0,190,0,0,0,190,190
312,Armenia,2016,0,0,170,0,170,0,0,170,...,0,0,0,0,170,0,0,0,170,170
313,Armenia,2017,0,0,100,0,100,0,0,100,...,0,0,0,0,100,0,0,0,100,100
314,Armenia,2018,0,0,200,0,200,0,0,200,...,0,0,0,0,200,0,0,0,200,200

In [66]:
stats_filtered_df.columns

Index(['Country', 'Year', 'Arabica Production', 'Bean Exports', 'Bean Imports',
       'Beginning Stocks', 'Domestic Consumption', 'Ending Stocks', 'Exports',
       'Imports', 'Other Production', 'Production', 'Roast & Ground Exports',
       'Roast & Ground Imports', 'Robusta Production',
       'Rst,Ground Dom. Consum', 'Soluble Dom. Cons.', 'Soluble Exports',
       'Soluble Imports', 'Total Distribution', 'Total Supply'],
      dtype='object')

In [75]:
# Which columns we need to drop?

stats_dropped_df = stats_filtered_df[['Country', 'Year', 'Arabica Production', 'Bean Exports', 'Bean Imports','Exports',
       'Imports', 'Other Production', 'Production', 'Roast & Ground Exports',
       'Roast & Ground Imports', 'Robusta Production']]
stats_dropped_df.head()

,Country,Year,Arabica Production,Bean Exports,Bean Imports,Exports,Imports,Other Production,Production,Roast & Ground Exports,Roast & Ground Imports,Robusta Production
53,Albania,2013,0,0,90,0,90,0,0,0,0,0
54,Albania,2014,0,0,100,0,100,0,0,0,0,0
55,Albania,2015,0,0,100,0,100,0,0,0,0,0
56,Albania,2016,0,0,105,0,105,0,0,0,0,0
57,Albania,2017,0,0,105,0,105,0,0,0,0,0

### Grouping countries with mean values, and dropping column

In [83]:
stats_grouped_df = stats_dropped_df.groupby('Country').mean().reset_index()
stats_grouped_dropped_df = stats_grouped_df.drop(columns = ['Year'])
stats_grouped_dropped_df.head()

,Country,Arabica Production,Bean Exports,Bean Imports,Exports,Imports,Other Production,Production,Roast & Ground Exports,Roast & Ground Imports,Robusta Production
0,Albania,0.0,0.000000,91.363636,0.000000,91.363636,0.0,0.000000,0.0,0.000000,0.000000
1,Algeria,0.0,0.000000,2144.545455,0.000000,2184.545455,0.0,0.000000,0.0,0.000000,0.000000
2,Angola,0.0,11.272727,0.000000,11.272727,0.000000,0.0,25.636364,0.0,0.000000,25.636364
3,Argentina,0.0,0.000000,485.000000,0.000000,819.363636,0.0,0.000000,0.0,25.272727,0.000000
4,Armenia,0.0,0.000000,193.636364,0.000000,193.636364,0.0,0.000000,0.0,0.000000,0.000000

In [ ]:
# Top countries (3) use sorting for bar charts
# Line charts (get top countries from stats_dropped_df)
# From: coffee_eda...: data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)[:30]
# Consumption versus population (Scatter plott)

# CLeaning population_data

In [10]:
population_df.head()

,Country,Population 2024,Population 2023,Area (km2),Density (/km2),Growth Rate,World %,World Rank
0,India,1441719852,1428627663,3M,485.0,0.0092,0.1801,1
1,China,1425178782,1425671352,9.4M,151.0,-0.0003,0.1780,2
2,United States,341814420,339996563,9.1M,37.0,0.0053,0.0427,3
3,Indonesia,279798049,277534122,1.9M,149.0,0.0082,0.0350,4
4,Pakistan,245209815,240485658,770.9K,318.0,0.0196,0.0306,5

In [88]:
population_df.columns

Index(['Country', 'Population 2024', 'Population 2023', 'Area (km2)',
       'Density (/km2)', 'Growth Rate', 'World %', 'World Rank'],
      dtype='object')

In [94]:
population_dropped_df = population_df[['Country', 'Population 2023']]
population_dropped_df.head()

         Country  Population 2023
0          India       1428627663
1          China       1425671352
2  United States        339996563
3      Indonesia        277534122
4       Pakistan        240485658

In [98]:
population_dropped_df['Country'].count

<bound method Series.count of 0                 India
1                 China
2         United States
3             Indonesia
4              Pakistan
             ...
229          Montserrat
230    Falkland Islands
231                Niue
232             Tokelau
233        Vatican City
Name: Country, Length: 234, dtype: object>